# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# env
.env
.env*.local
.env copy*

# editor scratch
Untitled
Untitled.*

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

# vercel
.vercel
